//colors
$primary-blue: #007bff;
$dark-blue: #262632;
$dark-grey: #181818;
$text-grey: #aaaaaa;

//fonts
$font-stack-primary: "Open Sans", sans-serif;
$font-stack-secondary: simplifica, sans-serif;
$font-stack-tertiary: bavro, sans-serif;
